.Center
{
	top: 60%;
	left: 50%;
	width: 30em;
	height: 1;
	margin-top: -9em;
	margin-left: -15em;
	position: fixed;
	text-align: center;
}

.messageRowButton
{
	text-transform: lowercase;
	margin-top: 9px;
	width: 98%;
	height: 60px;
	color: inherit;
}
.noOverflow
{
	overflow: hidden;
}
.circle
{
	position: absolute;
	left: 0;
	width:40px;
	height:40px;
	bottom: 7px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
}

.text
{
	position: absolute;
	right: 0;
	bottom: 10%;
	margin-left: 20%;
	margin-right: 0%;
	width: -webkit-calc(100% - 50px);
	width: -moz-calc(100% - 50px);
	width: calc(100% - 50px);
	text-align: right;
	color: inherit;
}


.boxTest2
{
	background-color: rgb(31, 31, 31);
    width: 100vw;
    height: 100vh;
    border-radius: 7px;
    position: absolute;
    top:0vh;
    padding-left: calc(50vw - 25vw);
    padding-top: 5vh;
}

.ExitButton
{
	position: absolute;
	top: 0.2vh;
	right: 0.3vw;
	width: 10vw;
	height: 10vw;
}

.boxButton2
{
	position: absolute;
	left: calc(100vw - 16.2vw);
	bottom: 1.5cm;
	width: 13vw;
	height:7vh;
	font-size: 1.3vh;
	font-weight: 200;
}

.messageInput{
	position: absolute;
	bottom: 1.6cm;
	left: 0.5cm;
	width: 76vw;
	height: 7vh;
}

.Title
{
	position: absolute;
	left: 4vw;
	top: 0.2vh;
}

.ChatMessageRight
{
	position:absolute;
	right: 10vw;	
}

.ChatMessageLeft
{
	position:absolute;
	left: 10vw;
}