.username
{
    user-select: none;
    top: calc(25% + 190px);
    left: 50%;
    width: 30em;
    height: 1;
    margin-top: -9em;
    margin-left: -15em;
    position: fixed;
    text-align: center;
}

.image
{
	border-radius: 50%;
	user-select: none;
	width: 140px;
	height: 140px;
	position: relative;
	left: calc(50% - 70px);
	top: 5%;
}



.otherInfo {
    position: absolute;
    left: 25vw;
    width: 50vw;
    top: 38vh;
    text-align: center;
}

.otherInfo2 {
    position: relative;
    left: 23vw;
    width: 50vw;
    top: 7vh;
    text-align: center;
}

.rateInput
{
	width: 3pc;
}

.pfpInput
{
	position: relative;
	right: 6vw;
	left: 1vw;
}

.bio
{
	overflow: auto;
}

.editProfileButton
{
	position: absolute;
	right: 0vw;
}

.infoEditingPage
{
	background-color: var(--background);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 70;
}

.page3EditExitButton
{
	position: absolute;
	top: 0;
	right: 0vw;
}

.ender
{
	color: var(--background);
}