hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: var(--color);               
  height: 1px;
}

input
{
	background-color: var(--background);
	color: var(--color);
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: ridge;
}

textarea
{
	background-color: var(--background);
	color: var(--color);
}

.user
{	
	display: flex;
	flex-direction: row;
	direction: ltr;
	column-gap: 7%;
	user-select: none;
}

.UserButton
{	
	text-transform: lowercase;
	margin-top: 9px;
	width: 98%;
	height: 74px;
	color: inherit;
}


.logo
{
	display: flex;
	justify-content: center;
	background-color: #1f1f1f;
}

.CustomIonicIconSize
{
	font-size: 500px !important;
	/*fill:rgb(255, 14, 180);*/
	position: absolute;
	top: -190px;
}

.MessageButton
{
	position: absolute;
	right:	70px;
}

.star
{
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: row;	
}

.messagePageInteractible
{
	height: 22vh;
	width: 70vw;
	position: absolute;
	top: 15vh;
	left: 0;
	background-color: var(--background);
	z-index: 70;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
}

.messageInputPage1
{
	width: 70%;
	position: relative;
	top: 4vh;
	margin-right: 5px;
	margin-left: 10px;
}

.interactibleRow
{
	position: absolute;
	bottom: 2vh;
}

.buttonSendClass
{
	width: 15vw;
}

.circle
{
	position: absolute;
	left: 0;
	bottom: 2px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
}

.circleForPFP
{
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;	
}

@media (prefers-color-scheme: light)
{
	.boxTest
	{
		width: 70vw;
		height: 50vh;
		border-radius: 7px;
		position: absolute;
		right: 15vw;
		top: 24vh;
		padding-left: calc(50vw - 25vw);
		padding-top: 5vh;
	}

}

@media (prefers-color-scheme: light)
{
	.glass
	{
		background: rgba(121, 122, 122, 0.32);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(8.9px);
		border: 1px solid rgba(122, 122, 122, 0.42);
	}
}

@media (prefers-color-scheme: light)
{
	.glass
	{
		background: rgba(203, 136, 136, 0.22);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(7.9px);
		-webkit-backdrop-filter: blur(8.9px);
		border: 1px solid rgba(203, 136, 136, 0.42);
	}
}

.DataSectionOfPfpage
{
	position: relative;
	bottom: 2vh;
}

.glass
{
	background: rgba(203, 136, 136, 0.22);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.9px);
	-webkit-backdrop-filter: blur(8.9px);
	border: 1px solid rgba(203, 136, 136, 0.42);
}

@media (prefers-color-scheme: dark)
{
	.boxTest
	{
		display: flex;
		flex-direction: column;
		align-content: center;
    	justify-content: center;
    	align-items: center;
		background: rgba(203, 136, 136, 0.22);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(8.9px);
		-webkit-backdrop-filter: blur(8.9px);
		border: 1px solid rgba(203, 136, 136, 0.42);
		width: 70vw;
		height: 50vh;
		border-radius: 7px;
		position: absolute;
		right: 15vw;
		top: 24vh;
	}

}

.ExitButton
{
	position: absolute;
	top: 0.5vh;
	right: 2vw;
	height: 6vh;
}

.boxButton
{
	width: 21.5vw;
	height:7vh;
	font-size: 1.3vh;
	font-weight: 200;
}

.RBPage
{
	filter: brightness(85%);
	background-color: var(--background);
	width: 70vw;
	height: 50vh;
	border-radius: 7px;
	position: absolute;
	right: 0vw;
	top: 0vh;
	padding-left: calc(50vw - 25vw);
	padding-top: 5vh;
	z-index: 70;
}

.RBPageButton
{
	position: absolute;
	width: 97%;
	border-radius: 4px;
	left: 1.5%;
	height: 5vh;
	top: 48vh;
	--background: #3dc2ff;
	color: white;
}

.RBPageButtonContinue
{
	z-index: 200;
}

.msgPageExitButton
{
	position: absolute;
	top: 16vh;
	right: 2vw;
	height: 6vh;
	z-index: 71;	
}

.RBPageExitButton
{
	position: absolute;
	top: 3vh;
	right: 2vw;
	height: 6vh;
	z-index: 71;
}


.secondBoxButton
{
	width: 21.5vw;
	height:7vh;
	font-size: 1.3vh;
	font-weight: 200;
}


.CommentPageButton
{
	position: absolute;
	left: 2vw;
	top: 0.5vh;
	height: 6vh;
}

.DivWithBlackBackground
{
	width: 70vw;
	height: 30vh;
	position: absolute;
	left: 0vw;
	top: 9vh;
	column-gap: 5px;
	overflow-y: scroll;
}	
.DivWithBlackBackground::-webkit-scrollbar { 
	display: none; 
}
.commentHeader
{
	display: flex;
	column-gap: 15vw;
}

.commentBox
{
	outline-style: solid;
	outline-width: .001px;
	border-radius: 5px;
	width: 95%;
	position: relative;
	left: 2.5%;
	overflow: hidden;
	margin-top: 0.8vh;
	filter: brightness(85%);
}

.CommentPageHeader
{
	display: flex;
	column-gap: 30vw;
}

.CommentPageExitButton
{
	position: absolute;
	right: 4px;
	height: 5.5vh;
}

.secondElement
{
	display: flex;
	width: 70vw;
	height: 47vh;
	position: absolute;
	left: 0;
	top: 2vh;
	background: var(--background);
	justify-content: flex-end;
	align-content: center;
}

.commentTextInput
{
	width: 55vw;
	height: 5vh;
	position: relative;
	bottom: -0.9vh;
}

.messageSendReviewPageButton
{
	width: 14vw;

}

.calendarClass
{
	display: flex;
	width: 70vw;
	height: 47vh;
	position: absolute;
	left: 0;
	top: 2vh;
	background: var(--background);
	justify-content: flex-end;
	align-content: center;
	z-index: 17;
}

:host .calendar-body .calendar-month .calendar-month-grid {
	top: 50px;
	width: 70vw;
	height: 47vh;
	position: relative;
	grid-template-rows: repeat(5, 1fr);
}

.reviewBar
{
	position: absolute;
	bottom: 7%;
	left: 9vw;
	width: 80%;
}

.finishRBPage
{
	width:100%;
	position: absolute;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
	z-index: 999;
	top: 15vh;
	/*background-color: var(--background);*/
}

.googlePayButtonHolder
{
	z-index: 99999;
	margin: 0 auto;
}

.pageBlock
{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: -25vh;
	left: -15vw;
	z-index: 999;
}

.buttonLayout
{
	width: 100vw;
	z-index: 9999;
}

.reviewBarDiv
{
	position: absolute;
	bottom: 7%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

.reviewBarImg
{
	position: relative;
	bottom: 15px;
}

.CommentPageWrapper
{
	width: 70vw;
	height: calc(50vh - 5%);
	position: absolute;
	left: 0vw;
	top: 0.5vh;
	column-gap: 5px;
}

.inputCommentPageDiv
{
	position: absolute;
	bottom: -2vh;
	display: flex;
}